---
- name: Create Datadog configuration directory
  file:
    path: /etc/datadog-agent
    state: directory
    mode: '0755'
  when: ansible_os_family != "Windows"

- name: Deploy Datadog main configuration
  template:
    src: datadog.yaml.j2
    dest: /etc/datadog-agent/datadog.yaml
    mode: '0640'
    owner: dd-agent
    group: dd-agent
  notify: restart datadog-agent
  when: ansible_os_family != "Windows"

- name: Deploy Datadog configuration (Windows)
  win_template:
    src: datadog.yaml.j2
    dest: 'C:\ProgramData\Datadog\datadog.yaml'
  notify: restart datadog-agent
  when: ansible_os_family == "Windows"

- name: Enable APM
  lineinfile:
    path: /etc/datadog-agent/datadog.yaml
    regexp: '^#?\s*apm_config:'
    line: 'apm_config:'
    state: present
  when:
    - datadog_apm_enabled | bool
    - ansible_os_family != "Windows"
  notify: restart datadog-agent

- name: Enable log collection
  lineinfile:
    path: /etc/datadog-agent/datadog.yaml
    regexp: '^#?\s*logs_enabled:'
    line: 'logs_enabled: true'
    state: present
  when:
    - datadog_logs_enabled | bool
    - ansible_os_family != "Windows"
  notify: restart datadog-agent

- name: Enable process monitoring
  lineinfile:
    path: /etc/datadog-agent/datadog.yaml
    regexp: '^#?\s*process_config:'
    line: 'process_config:'
    state: present
  when:
    - datadog_process_enabled | bool
    - ansible_os_family != "Windows"
  notify: restart datadog-agent
